@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,900&family=Oswald:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.column-container {
  display: flex;
  width: 100%;
}

.meeting-room-schedule {
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  transition: background-color 0.3s;
  background: rgb(255, 255, 255);
}

.default-state {
  background-color: #f0f0f0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

}

.meeting-room-schedule.in-use {
  background: #d84944;
}

.meeting-room-schedule.available {
  background: rgb(32, 167, 106);
}



.first-column {
  position: relative;
  width: 60%;
  height: 100%;
  /* background: url('../src/assets/roombg.jpg') no-repeat center center; */
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
}

.first-column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.3s;
}

.meeting-room-schedule.in-use .first-column::before {
  background: rgba(189, 86, 84, 0.288);
}

.meeting-room-schedule.available .first-column::before {
  background: rgba(0, 114, 62, 0.3);
}

.first-column > * {
  position: relative;
  z-index: 2;
}

.room-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}

.status2 {
  margin: 2px 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.status2 p{
  margin: 0px;
  padding: 0;
}
.availability{
  margin: -30px 0 0 0;
  transition: color 0.3s, text-shadow 0.3s;
  font-weight: 900; /* or specify another weight like 400 */
}


.availability h1{
  font-size: 200px;
  margin: -20px 0 0 0;
  transition: color 0.3s, text-shadow 0.3s;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
  font-weight: 900;
}


.meeting-room-schedule.in-use .availability {
  color: #d84944;
  text-shadow: 3px 3px 0px #ffffff;
}

.meeting-room-schedule.available .availability {
  color: rgb(32, 167, 106);
  margin-top: 50px;
  text-shadow: 3px 3px 0px rgb(255, 255, 255);
}

.meeting-title {
  border-bottom: 1px solid #ffff;
}
.room-name {
  font-size: 200px;
  margin: 0;
  padding: 0;
  transition: color 0.3s, text-shadow 0.3s;
  font-family: 'Roboto', sans-serif;
}

.room-name h1 {
  font-size: 200px;
  margin: 0;
  padding: 0;
  transition: color 0.3s, text-shadow 0.3s;
  font-family: 'Roboto', sans-serif;
}

.meeting-room-schedule.in-use .room-name {
  color: #ffffff;
  text-shadow: 5px 5px 0px #d84944;
  margin-bottom: 30px;
}

.meeting-room-schedule.available .room-name {
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 0px rgba(0, 114, 51, 0.753);
  margin-bottom: 30px;
}

.room-info table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-family: 'Danfo', sans-serif;
  padding: 0%;

}

.room-info table td:first-child {
  width: 30px;
  text-align: center;
}

.room-info table td:last-child {
  padding: 0 0 0 16px;
  font-size: 25px;
}

.room-info td {
  height: 30px;
}

.room-info table .fa-calendar-day,
.room-info table .fa-clock,
.room-info table .fa-user {
  color: #ffffff;
  font-size: 25px;
}

.second-column {
  width: 40%;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}

.clock h1 {
  font-size: 120px;
  margin: 0;
  padding: 0%;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.date-info {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0%;
  font-family: 'Oswald', sans-serif;
}

.ddate {
  font-size: 40px;
  text-align: center;
  margin: -10px 0 15px 0;
  padding: 0%;
  font-family: 'Oswald', sans-serif;
}

.meeting-list {
  margin-top: px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.upcoming-meetings {
  margin-top: 0;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  border-bottom: 1px solid #d1d9e2;
  margin: 0;
}

.upcoming-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.meeting {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 16px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 5px;
  text-align: left;
}

.meeting h3 {
  font-size: 30px;
  margin: 0%;
}

.meeting p {
  font-size: 20px;
  margin: 1%;
}

.meetings {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 5px;
  text-align: center;
  font-size: 30px;
}

.availability-message {
  text-align: center;
  margin: 0px;
  font-size: 24px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.availability-message h2 {
  margin: 0px;
}


@media (max-width: 768px) {
  .clock h1 {
    font-size: 64px;
  }

  .meeting-room-schedule {
    padding: 16px;
  }

  .current-meeting-info,
  .upcoming-meetings {
    padding: 0 16px;
  }
}

@media (max-width: 1180px) {
  .first-column {
    padding: 10px;
  }

  .room-name {
    font-size: 120px;
  }

  .availability {
    font-size: 100px;
  }

  .room-info table {
    font-size: 30px;
  }

  .clock h1 {
    font-size: 80px;
  }

  .ddate {
    font-size: 30px;
  }

  .upcoming-meetings {
    font-size: 30px;
  }

  .meeting h3 {
    font-size: 24px;
  }

  .meeting p {
    font-size: 16px;
  }

  .meetings {
    font-size: 24px;
  }
}

/* Centering the room selector */
.subtle-room-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between the buttons */
}

/* Styling for the room buttons */
.room-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #ff0800;
  border-radius: 5px;
  background-color: white;
  color: #ff0800;
  transition: background-color 0.3s, color 0.3s;
}

.room-button.active,
.room-button:hover {
  background-color: #ff0800;
  color: white;
}

/* Centering the loading indicator */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.loading {
  width: 200px;
}
