.meeting-room-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: 'Inter', sans-serif;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}

.background-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(199, 199, 199, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1;
  pointer-events: none;
}

.room-info {
  height: 100vh;
  padding: 70px 0 50px 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.room-selector {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.room-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.room-button.active {
  background-color: #007bff;
}

.room-button:hover {
  background-color: #555;
}

.room-name {
  font-size: 80px;
  color: #ffffff;
  margin: 0;
}

.date {
  font-size: 25px;
  margin: 0;
  color: #fff;
}

.time {
  font-size: 64px;
  margin: 0;
  color: #fff;
}

.meeting-info {
  margin: 0;
  text-align: left;
  font-family: 'Inter', sans-serif;
}

.meeting-title {
  font-size: 45px;
  color: #ffffff;
  text-align: left;
  font-family: 'Inter', sans-serif;
  margin: 0%;
  font-weight: 600;
}

.meeting-info p {
  font-size: 16px;
  margin: 0;
  text-align: left;
}

.meeting-time {
  font-size: 30px;
  margin: 0;
  text-align: left;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.meeting-user {
  font-size: 20px;
  margin: 0;
  text-align: left;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.meeting-item h3 {
  font-size: 30px;
  margin: 0;
  text-align: left;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.item-time {
  font-size: 21px;
  margin: 0;
  text-align: left;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.item-user {
  font-size: 18px;
  margin: 0;
  text-align: left;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.availability {
  font-size: 70px;
  color: #ffff;
  font-weight: bold;
  margin: 0;
  font-family: 'Inter', sans-serif;
  margin-bottom: 20px;
}

.availability2 {
  font-size: 65px;
  color: #ffff;
  font-weight: bold;
  margin: 0;
  font-family: 'Inter', sans-serif;
  margin-bottom: 20px;
  text-align: start;
}

.availability-info {
  font-size: 23px;
  color: #ffff;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.meeting-status-container {
  background-color: rgba(0, 222, 121, 0.3);
  padding: 40px;
  border-radius: 10px;
}

.meeting-status-container.available {
  background-color: rgba(0, 222, 121, 0.3);
  color: #000;
}

.meeting-status-container.in-progress {
  background-color: rgba(255, 138, 128, 0.3);
  color: #fff;
}

.meeting-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
}

.meeting-list {
  flex: 3;
}

.qr-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex: 1;
  flex-direction: column;
}

.qr-container img {
  max-width: 100%;
  height: auto;
  padding-right: 50px;
}

.meeting-list {
  margin-top: 30px;
  color: #ffff;
  text-align: start;
  padding-left: 50px;
}

.meeting-list h2 {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.meeting {
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  justify-content: left;
}

.meeting h3 {
  font-size: 22px;
  color: #ffffff;
  text-align: left;
}

.meeting p {
  font-size: 16px;
  color: #ffffff;
  margin: 5px 0;
}

.tablet-details h1.room-name {
  color: #ffffff;
}

.tablet-details h2.date {
  color: #ffffff;
}

.tablet-details h1.time {
  color: #ffffff;
}

.meeting-room-schedule, 
.room-info, 
.room-name, 
.date, 
.time, 
.availability, 
.availability-info, 
.meeting-title, 
.meeting-info, 
.meeting-user, 
.meeting-time, 
.item-time, 
.item-user {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
