/* Container styling */
.meeting-room-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Hide any overflow */
  position: relative; /* Set position to relative for child positioning */
  font-family: 'Inter', sans-serif;
}

/* Background image with blur effect */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px); /* Adjust the blur amount as needed */
  z-index: -1; /* Send it behind other content */
}

/* Add gradient layer */
.background-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(199, 199, 199, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1; /* This will be above the background image */
  pointer-events: none; /* Ensure the layer does not interfere with user interactions */
}

/* Room Info */
.room-info {
  height: 100vh;
  padding: 70px 0 50px 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 1; /* Ensure content is above the background */
}

/* Room Selector styles */
.room-selector {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.room-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.room-button.active {
  background-color: #007bff;
}

.room-button:hover {
  background-color: #555;
}

/* Room Information Styles */
.room-name {
  font-size: 80px;
  color: #ffffff;
  margin: 0;
}

.date {
  font-size: 25px;
  margin: 0;
  color: #fff;
}

.time {
  font-size: 64px;
  margin: 0;
  color: #fff;
}

/* Meeting Info Styles */
.meeting-info {
  margin: 0;
  text-align: left;
  font-family: 'Inter', sans-serif;
}

.meeting-title {
  font-size: 45px;
  color: #ffffff;
  text-align: left;
  font-family: 'Inter', sans-serif;
  margin: 0%;
  font-weight: 400;
}

.meeting-info p {
  font-size: 16px;
  margin: 0;
  text-align: left;
}

/* .meeting-status p {
  font-size: 20px;
  margin: 0;
  text-align: left;
  color: #fff; 
  font-family: 'Inter', sans-serif;
} */

.meeting-time{
  font-size: 30px;
  margin: 0;
  text-align: left;
  color: #fff; 
  font-family: 'Inter', sans-serif;
}

.meeting-user{
  font-size: 20px;
  margin: 0;
  text-align: left;
  color: #fff; 
  font-family: 'Inter', sans-serif;
}

.meeting-item h3{
  font-size: 30px;
  margin: 0;
  text-align: left;
  color: #fff; 
  font-family: 'Inter', sans-serif;
}

.item-time {
  font-size: 21px;
  margin: 0;
  text-align: left;
  color: #fff; 
  font-family: 'Inter', sans-serif;
}

.item-user {
  font-size: 18px;
  margin: 0;
  text-align: left;
  color: #fff; 
  font-family: 'Inter', sans-serif;
}



/* Availability styling */
.availability {
  font-size: 70px;
  color: #ffff;
  font-weight: bold;
  margin: 0;
  font-family: 'Inter', sans-serif;
  margin-bottom: 20px;
}

.availability-info {
  font-size: 26px;
  color: #ffff;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Meeting status container */
/* Default status */
.meeting-status-container {
  background-color: rgba(0, 222, 121, 0.3);
  padding: 40px;
  border-radius: 10px;
}

/* Available status */
.meeting-status-container.available {
  background-color: rgba(0, 222, 121, 0.3); 
  color: #000; /* Text color */
}

/* In-progress status */
.meeting-status-container.in-progress {
  background-color: rgba(255, 138, 128,0.3); /* Light red for in-progress */
  color: #fff; /* Text color */
}



.meeting-container {
  display: flex;
  align-items:end; /* Align items along the top */
  justify-content: space-between; /* Add space between the meeting list and QR code */
  gap: 10px; /* Optional: space between items */
}

.meeting-list {
  flex: 3; /* This will take up more space in the row */
}

.qr-container {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex: 1;
}

.qr-container img {
  max-width: 100%;
  height: auto;
  padding-right: 50px; /* Optional: adjust as needed */
}



/* Upcoming Meetings List */
.meeting-list {
  margin-top: 30px;
  color: #ffff;
  text-align: start;
  padding-left: 50px;
}

.meeting-list h2 {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.meeting {
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  justify-content: left;
}

.meeting h3 {
  font-size: 22px;
  color: #ffffff;
  text-align: left;
}

.meeting p {
  font-size: 16px;
  color: #ffffff;
  margin: 5px 0;
}

/* Tablet details styling */
.tablet-details h1.room-name {
  color: #ffffff;
}

.tablet-details h2.date {
  color: #ffffff;
}

.tablet-details h1.time {
  color: #ffffff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .meeting-room-schedule {
    flex-direction: column;
  }

  .room-info {
    max-width: 100%;
  }

  .room-name {
    font-size: 40px;
  }

  .room-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .date {
    font-size: 14px;
  }

  .meeting-list h2 {
    font-size: 22px;
  }

  .meeting h3 {
    font-size: 18px;
  }
}
