.area {
    display: flex;
    flex-direction: column;
}

.upload {
    width: auto;
    height: auto;
    margin-inline: 30%;
    padding: 2%;
    color: #58595A;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px #7C8B9D;
    text-align: center;
    color: #9c0b0b;
    width: auto;
}

.upload {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 64px;
        margin: auto;
    }

    h3 {
        margin: auto;
        font-size: 20px;
    }

    h4 {
        margin-inline: 40px;
        margin-bottom: 10px;
        margin-top: 40px;
    }
}

.upload div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.profileContain {
    margin: 1%;
}

.profileContain img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #7C8B9D;
}

.changeFields {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 3% 30%;
    padding: 0.1%;
    color: #58595A;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px #7C8B9D;
}

.formGroup1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;

}

/* .formGroup1 input,option,select {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
} */

.verifyemail {
    border: none;
    background-color: white;
    text-decoration: underline;
    color: #9c0b0b;
}

.verifyemail:hover {
    color: gray;
}

.changeFields form {
    margin: 2% 5%;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.buttonGroup button {
    margin-left: 10px;
    text-align: center;
    width: auto;
    padding: 10px;
    border: #58595A solid 0.1px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px #7C8B9D;
}

.buttonGroup button[type='cancel'] {
    color: #58595A;
    background-color: white;
}

.buttonGroup button[type='submit']:hover {
    transform: scale(1.1)
}

.buttonGroup button[type='submit'],
.buttonGroup button[type='cancel']:hover {
    color: white;
    background-color: #EE3E38;
    border: #EE3E38 solid 0.1px;
    transition: transform 0.2s ease-out;
}

.profilemodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.profilemodal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
}

.profilemodal-buttons {
    margin-top: 20px;
}

.profilemodal-buttons button {
    margin: 0 10px;
}

.editdetails{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    .edit_email, 
    .edit_userdept,
    .edit_passworduser,
    edit_email:active, 
    edit_userdept:active,
    edit_passworduser:active{
        color: black;
        background-color: white;
        border:none;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px #7C8B9D;
        width: 15%;
        height: 100%;
        min-height: 40px;
        margin: none;
    }

    .edit_email:hover, 
    .edit_userdept:hover,
    .edit_passworduser:hover,
    .save_email, 
    .save_userdept,
    .save_passworduser
    {
        color: white;
        background-color: #9c0b0b;
        border:none;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px #7C8B9D;
        width: 15%;
        height: 100%;
        min-height: 40px;
        margin: none;
    }

    .formGroup1{
        width: 80%;
    }
    .togglePasswordBtn_user {
        position: absolute;
        right: 5px;
        top: 70%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        font-size: 1rem;
        color: #333;
        /* Adjust color as needed */
    }
}

@media (max-width: 500px) {
    .upload {
        margin: 10%;
    }

    .profileContain img {
        width: 100px;
        height: 100px;
    }

    .upload h2 {
        font-size: 30px;
    }

    .upload h3 {
        font-size: 20px;
    }

    .upload h4 {
        font-size: 10px;
    }

    .button {
        padding: 2px;
    }

    .changeFields {
        margin: 1% 10%;
    }

}