html body{
    height: 0%;
}
.sidebar{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 0;
    width: 15rem;
    height: 100vh;
    justify-content: center;
    z-index: 5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: width 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), opacity 0.3s ease
}

ul{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin:20px;
    font-size: 18px;
}
.line, .line2{
    content: '';
    position: absolute;
    right: 10px;
    z-index: 0;
    width: 5.5rem;
    background-color: gray;
    height: 1px;
}
.line{
    top:280px;
}
.line2{
    top:435px;
}
li .li{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0.75rem 0;
    width: 100%;
    border-radius: 1rem;
}

a{
    text-decoration: none;
    color: black;
    font-size:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0 0 0 0.5rem;
    gap:15px;
}

.logodbs{
    display: flex;
    align-items: center;
    justify-content: center;

}
.logodbs img{
    height: 40px;
    margin-right: 10px;
}

.logodbss{
    display: none;
}
.logodbss img{
    height: 50px;
}

.profileDetail{
    margin: 35px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.Contain{
    content:'';
    background-color: #9c0b0b;
    position: absolute;
    right:-20px;
    /* top: calc(9rem/1.15); */
    top:20px;
    width: 35px;
    height: 35px;
    border-radius: 2rem;
    z-index: 1;
}
.ContTrigger{
    content: "";
    width: 35px;
    height: 35px;
    background-color: #9c0b0b;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}
.ContMenu{
 content: "";
 background-color: #9c0b0b;
 position: relative;
 z-index: 1;
 width: 20px;
 height: 3px;
 border-radius: 2rem;
 bottom: 19px;
 left:0.46rem;

}

.ContMenu::after{
    content: "";
    background-color: white;
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 2rem;
    top:0.4rem;
    transform: translateY(-0.4rem) rotate(45deg);
}
.ContMenu::before{
    content: "";
    background-color: white;
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 2rem;
    top:-0.4rem;
    transform: translateY(0.4rem) rotate(-45deg);
}

.menuContainer{
    margin:3rem 0 0 0;
}
.last{
    position:relative;
    bottom:-300px;
    left:0px;
}

.sidebar.active{
    width: 5rem;
    p.hed{
        opacity: 0;
    }
    .logodbs{
        display: none;
    }
    .logodbss{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 83px 0px;
    }
    .last{
        bottom: -150px;
    }
    .last a{
        font-size: 25px;
    }
    .last p{
        display: none;
    }
}

.Contain.active{
    .ContMenu{
        background-color: #F9F6EE;
    }
    .ContMenu::before{
        transform:translateY(0rem) rotate(0deg);
    }
    .ContMenu::after{
        transform: translateY(0rem) rotate(0deg);
    }
}
.profileDetail.active{
    display: none;
}
.menuContainer.active{
    p{
        font-size: 0px;
        opacity: 0;
    }
    a{
        margin-top:10px;
        font-size: 30px;
    }
    li{
        margin:20px 0px;
    }

    ul:first-child{
        margin-top:100px;
        margin-inline: 15px;
    }
    ul:last-child{
        margin-inline: 15px;
    }
    .line{
        top:260px;
    }
    .line2{
        top:440px;
    }
}


p.hed{
    margin:0;
}
/*EMPLOYEE LIST*/


.listButtonG{
    display: flex;
    gap:20px;
    justify-content: flex-end;
    margin: 30px 100px;
}

.listButtonG button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.listButtonG button:hover{
    background-color: #B62626;
    color: white;
}

.editBtn{
    background-color: #B62626;
    color: white;
}

.mainBtn {
    background-color: #B62626;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.secondBtn {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mainBtn:hover {
    background-color: #8c1d1d; 
    color: white;
}


  /* TABLE */

  .tableContainer {
    width: 75%;
    justify-self: fle;
    overflow-x: auto;
    margin: auto;
    
}
  .listTable {
    align-items: center;
    justify-content: center;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-collapse: collapse;
  }
  
  .listTable th, .listTable td {
    padding: 15px 20px;
    text-align: left;
  }

  
  .listTable th {
    background-color: #f8f8f8;
    font-weight: bold;
    border-bottom: 2px solid #eee;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .dropbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .listTable td {
    border-bottom: 1px solid #eee;
  }
  
  .listTable tr:last-child td {
    background-color: #f8f8f8;
    border-radius: 10px;
  }

  .listTable tbody{
    overflow: auto;
  }


.listMod{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    margin: 10px 0px;
    width: 20px;
}
.listMod button{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.listMod button:hover{
    background-color: #B62626;
    color: white;
}
/* Sidebar.css */

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%; /* Ensure the dropdown takes full width available */
    max-width: 300px; 
}

.dropdown button {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100%; /* Button takes full width of parent .dropdown */
    text-align: center; /* Align text to the left */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
    color: #9c0b0b;}

.dropdown:hover .dropdown-content {display: block;}


/*add employee*/
.addForm {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin: auto;
    padding: 5cqmin;
    color: #58595a;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px #7c8b9d;
}

.formGroup{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.formGroup label{
    flex: 1;
    margin-right: 10px;
}

.formGroup input{
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.addGroup{
    display: flex;
    justify-content: flex-end;
    gap:20px;
    margin-top: 50px;
}

.listCont h1, .listCont1 h1, .listCont3 h1{
    font-size: 30px;
    text-align: center;
}
.listCont3{
    margin: 100px;
}


/* Example CSS for customizing select element */
.formControl {
    flex:2;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    outline: none; /* Remove default outline */
}

.formControl:focus {
    border-color: #007bff; /* Custom focus style */
}

.formControl option {
    background-color: #fff;
    color: #333;
    padding: 0.5rem;
    font-size: 1rem;
}

.formControl option:hover {
    background-color: #007bff; /* Custom hover style */
    color: #fff;
}


.togglePasswordBtn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    font-size: 1rem;
    color: #333; /* Adjust color as needed */
}


/*approval*/
.listCont2{
    margin:0px 100px;
    font-size: 30px;
}
.approvalGroup{
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;

}
.approvalMeets{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.approvalDeets{
    width:30em;
    height: auto;
    padding: 20px 50px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.approvalDeets h2{
    margin:0px 0px 20px;
}
.approvalGrp{
    display: flex;
    margin:30px 5px 10px;
    gap: 10px;
    justify-content: flex-end;
}
.approvalGrp button{
    width: 10em;
    height: 3em;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.approvalGrp button[type='approve']:hover, .gen_modal-content button[type='approve']:hover{
    background-color: #008000;
    color: white;   
}

.approvalGrp button[type='reject']:hover, .reject_modal-content button[type='reject'], .gen_modal-content button[type='reject']:hover{
    background-color: #9c0b0b;
    color: white;
}

 
.approval-card-container {
    display: flex;
    gap: 20px;
    
  }
  
  .approveRooms {
    flex: 1;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .approveRooms:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .approveRooms .overlayy {
    background: linear-gradient(90deg, rgba(255, 186, 186, 0.5) 0%, rgba(255, 84, 84, 0.5) 100%);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .approveRooms .overlayy button.forApproval-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #EE3E38;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s, bottom 0.3s;
    width: 90%;
  }
  
  .approveRooms h3 {
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25); /* Add a subtle text shadow */
    transition: font-size 0.3s, margin-bottom 0.3s;
  }
  
  .approveRooms:hover .overlayy button.forApproval-btn {
    opacity: 1;
    bottom: 40px; /* Adjust position when hovered */
  }
  
  .approveRooms:hover h3 {
    font-size: 44px; /* Adjust the size as needed */
    margin-bottom: 80px; /* Adjust margin to make space for the button */
  }

  .gen_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.gen_modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    gap: 20px;
}

.gen_modal-content button {
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin: 20px 10px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


button[type='appr']{
    background-color: #008000;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

button[type='not-appr']{
    background-color: #9c0b0b;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
button[type='not-appr']:hover{
    transform: scale(1.10);
}
button[type='appr']:hover{
    transform: scale(1.10);
}
.gen_modal-content button[type='cancel']:hover{
    background-color: #58595a;
    color: white;
}

  @media (max-width:500px){
    .nav-icons{
        display: none;
    }
    .profileDetail > div{
        margin:0px 0px;
    }
    .sidebar{
        display:none;
    }
    .listCont {
        margin: 50px 10px ;
    }
    .listButtonG{
     justify-content: center;   
    }
    .tableContainer{
        padding: 0px 30px;
    }
    .listTable th, .listTable td {
        padding: 5px 10px;
        font-size: 12px;
    }
    .listMod {
        flex-direction: column;  
    }
    .listTable td:last-child{
        padding: 0px 100px;
    }
    .notifCount{
        top:418px;
    }
       /*add employee*/
    .formGroup input{
        width: 200px;
        }
    .listCont1{
       margin:50px 0px;
       text-align: center;
       font-size: 20px;          
        }
        /*approval*/
        .approvalMeets{
            margin: auto;
        }
        .approvalDeets{
            width:15em;
        }
        .approvalDeets h2{
            font-size: 25px;
        }
        .approvalDeets p{
            font-size: 10px;
            text-align: left;
        }
        .approvalGrp{
            display: flex;
            margin:20px 5px 1px;
            gap: 10px;
            justify-content: flex-end;
        }
        .approvalGrp button{
            font-size: 10px;
        }
        /*APPROVAL ROOMS*/
        .listCont3{
            margin:50px 20px 0px;
            
        }

        .listCont3 h1{
            margin-bottom: 50px ;
            font-size: 30px;
            text-align: center;
        }
        .approval-card-container{
            flex-wrap: wrap;
        }
        .approveRooms .overlayy button.forApproval-btn{
            font-size: 11px;
        }
        .approveRooms {
            width: 300px;
            height:230px;
        }
}


@media (min-width:1900px) {

    .tableContainer{
        padding: 0px 100px;
    }

    .listCont h1{
        font-size: 50px;
    }
    .sidebar-collapsed {
        background-color: #f9fbfd;
        color: #333;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border-bottom: solid 1px #d1d9e2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: fixed; 
        left: 0;
        top: 0; 
        bottom: 0; 
        width: 75px;
        gap:170px;
        transition: width 0.3s ease; 
    }
    .formGroup input{
        width: 650px;
    }

}