/* Login Page Styles */
.login-page {
  display: flex;
  height: 100vh;
}

.login-page>* {
  flex: 1;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}

.logo {
  width: 280px;
  margin-bottom: 120px;
}

.login-form-column {
  padding: 5% 10%;
  align-items: start;
  justify-content: center;
  height: max-content;
}

.login-form {
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.login-form h2 {
  margin-bottom: 15px;
  font-size: 42px;
  color: #333;
}

.login-form label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fafafa;
  transition: border-color 0.3s;
  
}

.login-form input:focus {
  border-color: #007BFF;
}

.login-form button, 
.reg-btn {
  width: 100%;
  padding: 12px;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #e44e4e;
}

.right-column {
  justify-content: start;
  align-items: center;
  background: linear-gradient(290deg, #FF5252 0%, #FFBABA 75%);
  position: relative;
}

.right-column h2 {
  font-size: 45px;
  margin: auto;
  padding: 5%;
  color: #fff;
  text-align: center;
}

.right-column .overlay1 {
  position: absolute;
  margin: auto;
  width: 85%;
  height: 85%;
  border: solid 1px #fff;
  background-color: rgba(183, 233, 246, 0.25);
  z-index: 1;
}

.overlay-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.mascot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73%;
  width: 75%;
  margin: auto;
}


@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .login-page>* {
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 20px;
    }

  .logo {
    width: 200px;

    margin-bottom: 80px;

  }

  .right-column {
    display: none;
  }

  .login-form {
    max-width: 100%;
    padding: 0 20px;
  }

  .login-form h2 {
    font-size: 32px;
  }

  .login-form label,
  .login-form input,
  .login-form button {
    width: 100%;
    max-width: none;
  }
}


/* Dashboard Styles */
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.reg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.registration-form-modal {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  text-align: left;
}

.registration-form-modal h2 {
  margin-bottom: 20px;
  text-align: center;
}

.registration-form-modal form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.registration-form-modal form input,
.registration-form-modal form select {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration-form-modal form .form-section,
.newpass-section {
  margin-bottom: 20px;
}

.registration-form-modal form .form-section-divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.registration-form-modal form .form-check {
  display: flex;
  align-items: center;
}

.registration-form-modal form .form-check input {
  margin: 8px;
  width: fit-content;
}

.registration-form-modal form .form-check label {
  margin: 8px;
  width: fit-content;
}

.registration-form-modal form .pass-section p,
.registration-form-modal form .form-section p {
  font-size: 12px;
  margin: 4px 0 12px 0;
}

.registration-form-modal form .newpass-section label {
  font-weight: normal;
}



/* tables */


.dashboard-main {
  flex: 1;
  padding: 0px 20px;
  overflow-y: auto;
  background-color: #ffffff;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s, box-shadow 0.4s;
  text-align: center;

}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.overlay {
  background: #1f1f1f60;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1; /* Always visible */
  transition: opacity 0.4s ease-in-out;
}

/* .card:hover .overlay {
  background: linear-gradient(90deg, rgba(255, 186, 186, 0.7) 0%, rgba(255, 84, 84, 0.7) 100%);
} */

.dashboard-rsrv {
  background-color: #EE3E38;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
  width: 50%;
}

.card:hover .dashboard-rsrv {
  opacity: 1;
  transform: translateY(-50px);
  background-color: #d93a33;
  color: #fff;
}

.room-title {
  font-weight: bolder;
  font-size: 40px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  transition: font-size 0.4s, margin-bottom 0.4s;
  margin: 0;
  padding: 0;
}

.card:hover .room-title {
  font-size: 44px;
  margin-bottom: 60px; /* Adjusted margin for button space */
}

/* Mobile Version */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: 100%;
    height: auto; /* Adjust height for mobile */
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer; /* Indicate clickable area */
  }

  .overlay {
    width: 100%;
    height: 200px; /* Adjust height for mobile */
    background: linear-gradient(90deg, rgba(255, 186, 186, 0.7) 0%, rgba(255, 84, 84, 0.7) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: none;
    transform: translateY(0);;
  }

  .dashboard-rsrv {
    opacity: 1;
    transform: translateY(0);
    position: relative;
    width: 50%;
    padding: 10px 15px;
    background-color: #d93a33;
    color: #fff;
    transition: none; /* Remove transition for mobile */
  }

  .room-title {
    font-size: 30px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    transition: none; /* Remove transition for mobile */
  }

  /* Remove hover effects */
  .card:hover {
    transform: none;
    transition: none;
  }
  .card:hover .overlay {
    transform: none;
  }
  .card:hover .dashboard-rsrv {
    transform: none;
    transition: none;
  }
  .card:hover .room-title {
    font-size: 30px;
    transform: none;

    margin-bottom: 0;
  }

}


.header-actions {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.details-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}

.details-modal h2 {
  text-align: center;
  background-color: #9c0b0b;
  color: #ffff;
}

.details-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  position: relative;
}

.modal-columns {
  display: flex;
  gap: 20px;
}

.left-content,
.right-content {
  flex: 1;
}

.right-content {
  border: 1px solid #000000;
  padding: 15px;
}

.right-content h3 {
  text-align: center;
  border-bottom: 1px solid #000000;
}

.close-btn {
  background-color: #ffff;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  height: auto;
}

.full-btn,
.delete-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  margin-right: 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
  max-height: 50px;
  height: 100%;
  font-size: 15px;
}

.full-btn {
  background-color: #8a8a8a;
  color: white;
}

.full-btn:hover {
  background-color: #313131;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* General table styles */

.reservation-table,
.reservation-table1 {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: 20px 0;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  /* Enable horizontal scrolling on small screens */
}

.reservation-table th,
.reservation-table td,
.reservation-table1 th,
.reservation-table1 td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.reservation-table th,
.reservation-table1 th {
  background-color: #f2f2f2;
  text-align: center;
}

/* Set specific widths for each column */
.reservation-table th:nth-child(1),
.reservation-table td:nth-child(1),
.reservation-table1 th:nth-child(1),
.reservation-table1 td:nth-child(1) {
  width: 20%;
}

.reservation-table th:nth-child(2),
.reservation-table td:nth-child(2),
.reservation-table1 th:nth-child(2),
.reservation-table1 td:nth-child(2) {
  width: 10%;
}

.reservation-table th:nth-child(3),
.reservation-table td:nth-child(3),
.reservation-table1 th:nth-child(3),
.reservation-table1 td:nth-child(3) {
  width: 10%;
}

.reservation-table th:nth-child(4),
.reservation-table td:nth-child(4),
.reservation-table1 th:nth-child(4),
.reservation-table1 td:nth-child(4) {
  width: 10%;
}

.reservation-table th:nth-child(5),
.reservation-table td:nth-child(5),
.reservation-table1 th:nth-child(5),
.reservation-table1 td:nth-child(5) {
  width: 10%;
}

.reservation-table th:nth-child(6),
.reservation-table td:nth-child(6),
.reservation-table1 th:nth-child(6),
.reservation-table1 td:nth-child(6) {
  width: 10%;
}

.reservation-table th:nth-child(7),
.reservation-table td:nth-child(7),
.reservation-table1 th:nth-child(7),
.reservation-table1 td:nth-child(7) {
  width: 15%;
}

/* Status styles */
.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  color: white;
}

.status.pending {
  background-color: rgb(255, 180, 41);
}

.status.approved {
  background-color: rgb(79, 179, 79);
}

.status.declined {
  background-color: rgb(236, 20, 20);
}

@media screen and (max-width: 768px) {

  /* Adjust table styles for smaller screens */
  .reservation-table,
  .reservation-table1 {
    overflow-x: auto;
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .reservation-table th,
  .reservation-table td,
  .reservation-table1 th,
  .reservation-table1 td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 4px;
  }

  .reservation-table th,
  .reservation-table1 th {
    font-size: 14px;
  }

  .reservation-table td,
  .reservation-table1 td {
    font-size: 14px;
  }
}

.loading {
  background-color: none;
  cursor: not-allowed;
  pointer-events: none;
  color: white; /* Ensures text is still readable */
  user-select: none; /* Prevent text selection */
}

button:disabled {
  user-select: none; /* Prevent text selection */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-group {
  display: flex;
  width: 100%;
  gap: 10px;
}

.name-section{
  width: 50%;
}

.registration-form-modal p{
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0;
  font-size: 12px;
  color: #b62626;
  text-align: center;
}
.registration-form-modal h2 {
  margin: 0%;
}

.reg-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

.confirm-button:hover {
  background-color: #B62626;
}

.confirm-button {
  background-color: #EE3E38;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.out-button {
  border: none;
  background-color: white;
  text-decoration: underline;
  color: #9c0b0b;
}
.resetpasss{
  display: inline;
  button {
    background-color: white;
    color: #000000;
    font-size: 10px;
    padding: 0px;
    margin-bottom: 20px;
    text-align: left;
    text-decoration: underline;
  }
}


.toggle-header {
  position: relative;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  color: #000000;
  font-size: large;
}

.selection{
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
}


.cancel-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.cancel-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  max-width: 500px;
}

.action-buttons {
  margin-top: 20px;
}


.confirm-btn {
  background-color: #EE3E38;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.no-btn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.no-btn:hover {
  background-color: #eeeeee;
} 

.confirm-btn:hover {
  background-color: #B62626;
}