// src/CustomBigCalendar.scss

// Import the default big calendar styles
@import "react-big-calendar/lib/sass/styles";

// Override styles or add custom styles here
.rbc-header {
    color: rgb(0, 0, 0);
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px !important;
    background: #ffffff;
  }
  
  .rbc-allday-cell {
    display: none;
  }
  
  .rbc-time-header-cell .rbc-today {
    background-color: #DC3545 !important;
    color: rgb(255, 255, 255);
  }
  
  .rbc-time-slot {
    color: #000000;
    z-index: 1;
  }
  
  .rbc-time-slot:not(.rbc-today .rbc-time-slot) {
    background-color: #ffffff;
  }
  
  /*Event Styles*/
  .rbc-event,
  .rbc-background-event {
    z-index: 2;
    padding: 0px !important;
    border: none !important;
  }
  
  .rbc-event-label {
    display: none !important;
  }
  
  .rbc-events-container {
    width: 100% !important;
  }
  
//   /*Timeslots Customization*/
//   .rbc-day-slot .rbc-time-slot:after {
//     content: "";
//     width: 100%;
//     border-top: 1px solid #1b0216;
//     display: block;
//   }
